runtime: nodejs18
service: {{ application_name }}
instance_class: F1
automatic_scaling:
  max_instances: {{ 100 if gcp_auto_scaling else 1 }}
env_variables:
  DB_DIALECT: {{ DB_DIALECT}}
  DB_NAME: {{ DB_NAME }}
  DB_USERNAME: {{ DB_USERNAME }}
  DB_PASSWORD: {{ DB_PASSWORD }}
  DB_ADDRESS: {{ DB_ADDRESS }}