# Allow any assets
!docs/docs/assets

#
*.ignored.yaml
*.ignored.env
tmp

# IDE
.idea
.code

# env
.env*

# typescript
build
node_modules
yarn-error.log
.DS_STORE

# e.g. node modules of plugins
!tests/**/node_modules

build-docs
dist-docs

# xopera
*.opera

# docs
docs/site
docs/__pycache__

# examples
*inputs.yaml
*inputs.yml
!tests/**/inputs.yaml
!tests/**/inputs.yml
!examples/**/tests/**/inputs.yaml
!examples/**/tests/**/inputs.yml

# python virtual environments
*.venv

# binaries
dist

# tests
!tests/tmp/.gitkeep
tests/tmp
.nyc_output
coverage


opentosca-vintner-*.tgz


# yarn
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# choco
*.nupkg
choco/tools/vintner.exe
choco/tools/vintner.exe.asc
