/**
 * Static Font Size since responsive ones scale too much
 */

/*  */
.md-typeset {
    font-size: 12pt;
}

/* Source Repository */
.md-source__repository {
    font-size: 10pt;
}

/* Search Input */
.md-search__input {
    font-size: 10pt;
}

/* Navbar Title */
.md-header__topic .md-ellipsis {
    font-weight: 400;
    font-size: 14pt;
}

/* Sidebar Title */
body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary > div > div > nav > label {
    font-weight: 400;
    font-size: 14pt;
}

/* Code */
.md-typeset code {
    font-size: 11pt;
}

.md-tabs__link {
    font-size: 12pt;
}

.md-nav__item {
    font-size: 12pt;
}

/* Footer Navigation Direction */
.md-footer__direction {
    font-size: 10pt;
}

/* Footer Navigation Title */
.md-footer__title {
    font-size: 14pt;
}

/* Copyright Text */
.md-copyright {
    font-size: 10pt;
}

/* Admonition Text */
.admonition p {
    font-size: 12pt;
}

/* Tabbed Content Title  */
body > div.md-container > main > div > div.md-content > article > div.tabbed-set.tabbed-alternate > div.tabbed-labels > label {
    font-size: 12pt;
    font-weight: 600;
}

/* TOC Title */
body > div.md-container > main > div > div.md-sidebar.md-sidebar--secondary > div > div > nav > label {
    font-size: 14pt;
    font-weight: 400;
}

/* Table Headers */
tr > th {
    font-size: 11pt;
}

/* Table Rows */
tr > td {
    font-size: 11pt;
}