site_name: OpenTOSCA Vintner
site_url: https://vintner.opentosca.org
repo_url: https://github.com/opentosca/opentosca-vintner
repo_name: opentosca/opentosca-vintner
copyright: 'Copyright &copy; 2022 University of Stuttgart'
edit_uri: ''
theme:
    name: material
    language: en
    custom_dir: overrides
    icon:
        repo: fontawesome/brands/github
    font:
        text: Noto Sans
        code: Noto Sans Mono
    palette:
        primary: black
    features:
        - navigation.tabs.sticky
        - navigation.instant
        - navigation.tracking
        - navigation.expand
        - navigation.indexes
        - content.code.annotate
        - toc.follow

extra_css:
    - assets/stylesheets/extra.css
    - assets/stylesheets/typeset.css
    - assets/stylesheets/asciinema-player.css

extra_javascript:
    - assets/javascripts/tablesort.min.js
    - assets/javascripts/tablesort.js

extra:
    prod: !ENV [MKDOCS_IS_PROD, true]

markdown_extensions:
    - tables
    - md_in_html
    - attr_list
    - def_list
    - pymdownx.tasklist:
          custom_checkbox: true
    - admonition
    - pymdownx.details
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.tabbed:
          alternate_style: true
    - footnotes
    - toc:
          permalink: true

plugins:
    - search
    - macros:
          on_error_fail: true
          module_name: macros
    - glightbox
    - bibtex:
          bib_file: 'bibtex.bib'

nav:
    - index.md
    - getting-started.md
    - installation.md
    - orchestrators.md
    - package-manager.md
    - Variability4TOSCA:
          - variability4tosca/motivation.md
          - variability4tosca/specification.md
          - variability4tosca/feature-modeling.md
    - dynamic-deployment-artifacts.md
    - interface.md
    - dependencies.md
    - development.md
    - contributing.md
    - code-of-conduct.md
    - resources.md
    - about-us.md
    - faq.md
