site_name: OpenTOSCA Vintner
site_url: https://vintner.opentosca.org
repo_url: https://github.com/opentosca/opentosca-vintner
repo_name: opentosca/opentosca-vintner
copyright: 'Copyright &copy; 2022 - 2023 University of Stuttgart'
edit_uri: ''
theme:
    name: material
    language: en
    custom_dir: overrides
    icon:
        repo: octicons/mark-github-16
        logo: assets/images/vintner-logo-bold
    favicon: assets/images/vintner-logo-bold.svg
    font:
        text: Inter
        code: ui-monospace
    palette:
        primary: white
        accent: deep orange
    features:
        - navigation.tabs.sticky
        - navigation.instant
        - navigation.tracking
        - navigation.footer
        # - navigation.expand
        # - navigation.indexes
        - content.code.copy
        - content.code.annotate
        - toc.follow
        - navigation.sections

extra_css:
    - assets/stylesheets/extra.css
    - assets/stylesheets/typeset.css
    - assets/stylesheets/asciinema-player.css
    - assets/stylesheets/print.css
    - assets/stylesheets/video.css

extra_javascript:
    - assets/javascripts/tablesort.min.js
    - assets/javascripts/tablesort-controller.js

extra:
    prod: !ENV [MKDOCS_IS_PROD, true]

markdown_extensions:
    - tables
    - md_in_html
    - attr_list
    - def_list
    - pymdownx.tasklist:
          custom_checkbox: true
    - admonition
    - pymdownx.details
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets:
          base_path:
              - ./snippets
              - ./docs
          check_paths: true
    - pymdownx.superfences
    - pymdownx.tabbed:
          alternate_style: true
    - footnotes
    - toc:
          permalink: true
    - pymdownx.emoji:
          emoji_index: !!python/name:materialx.emoji.twemoji
          emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
    - search
    - tags:
          tags_file: tags.md
    - macros:
          on_error_fail: true
          module_name: macros
    - glightbox
    - bibtex:
          bib_file: 'bibtex.bib'
    - include_dir_to_nav
    - git-revision-date-localized:
          enabled: !ENV [MKDCOS_REVISION_ENABLED, true]
          strict: false
    - build_plantuml:
          #render: 'local'
          #bin_path: 'cmds/puml/plantuml'
          render: 'server'
          server: !ENV [MKDOCS_PUML_SERVER, https://www.plantuml.com/plantuml]
          disable_ssl_certificate_validation: !ENV [MKDOCS_PUML_SERVER_SSL, false]
          output_format: 'svg'
          diagram_root: 'docs'
          output_folder: '.'
          input_folder: '.'
          input_extensions: 'puml'

nav:
    - OpenTOSCA Vintner:
          - index.md
          - getting-started.md
          - installation.md
          - orchestrators.md
          - interface.md
          - dependencies.md
          - GitHub: https://github.com/opentosca/opentosca-vintner
          - Discord: https://discord.gg/Uz6348Ctmg

    - Specifications:
          - Variability4TOSCA:
                - variability4tosca/motivation
                - variability4tosca/specification
                - variability4tosca/testing.md
                - Conformance Tests: variability4tosca/tests
                - variability4tosca/dynamic.md
                - variability4tosca/feature-ide.md
                - variability4tosca/benchmark.md
                - Guides:
                      - variability4tosca/guides/artifacts
                      - variability4tosca/guides/pipes-and-filters
                      # - variability4tosca/guides/pruning
          - Queries4TOSCA:
                - queries4tosca/getting-started.md
                - queries4tosca/specification.md
                - Conformance Tests: queries4tosca/tests
          - TOSCA SofDCar Profile:
                - sofdcar/profile.md
                - Guides:
                      - sofdcar/guides/zone
                      - sofdcar/guides/location
          - TOSCA Simple Profile: https://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.3/os/TOSCA-Simple-Profile-YAML-v1.3-os.html

    - Contributing:
          - contributing/setup.md
          - contributing/development.md
          - contributing/documentation.md
          - contributing/code-of-conduct.md
          - contributing/notes.md

    - More Information:
          - OpenTOSCA: https://www.opentosca.org
          - resources.md
          - publications.md
          - about-us
          - Legal Notice: https://www.uni-stuttgart.de/impressum
          - faq.md
          - tags.md
