site_name: OpenTOSCA Vintner
site_url: https://vintner.opentosca.org
repo_url: https://github.com/opentosca/opentosca-vintner
repo_name: opentosca/opentosca-vintner
copyright: 'Copyright &copy; 2022 - 2023 University of Stuttgart'
edit_uri: ''
theme:
    name: material
    language: en
    custom_dir: overrides
    icon:
        repo: octicons/mark-github-16
        logo: octicons/terminal-24
    favicon: assets/images/octicons-terminal-24.svg
    font:
        text: Inter
        code: ui-monospace
    palette:
        primary: white
        accent: deep orange
    features:
        - navigation.tabs.sticky
        - navigation.instant
        - navigation.tracking
        # - navigation.expand
        - navigation.indexes
        - content.code.annotate
        - toc.follow

extra_css:
    - assets/stylesheets/extra.css
    - assets/stylesheets/typeset.css
    - assets/stylesheets/asciinema-player.css

extra_javascript:
    - assets/javascripts/tablesort.min.js
    - assets/javascripts/tablesort-controller.js

extra:
    prod: !ENV [MKDOCS_IS_PROD, true]

markdown_extensions:
    - tables
    - md_in_html
    - attr_list
    - def_list
    - pymdownx.tasklist:
          custom_checkbox: true
    - admonition
    - pymdownx.details
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.tabbed:
          alternate_style: true
    - footnotes
    - toc:
          permalink: true
    - pymdownx.emoji:
          emoji_index: !!python/name:materialx.emoji.twemoji
          emoji_generator: !!python/name:materialx.emoji.to_svg
plugins:
    - search
    - macros:
          on_error_fail: true
          module_name: macros
    - glightbox
    - bibtex:
          bib_file: 'bibtex.bib'
    - include_dir_to_nav

nav:
    - index.md
    - getting-started.md
    - installation.md
    - orchestrators.md
    - Variability4TOSCA:
          - variability4tosca/motivation.md
          - variability4tosca/specification.md
          - Conformance Tests: variability4tosca/tests
          - variability4tosca/feature-modeling.md
          - variability4tosca/benchmark.md
          - variability4tosca/limitations.md
    - Queries4TOSCA:
          - queries4tosca/getting-started.md
          - queries4tosca/specification.md
    - dynamic-deployment-artifacts.md
    - interface.md
    - dependencies.md
    - development.md
    - code-of-conduct.md
    - resources.md
    - about-us.md
    - notes.md
    - faq.md
