asciinema==2.0.2
pyyaml_env_tag==0.1
mkdocs-material==9.1.21
mkdocs-material-extensions==1.1
mkdocs-macros-plugin==0.7.0
mkdocs-glightbox==0.1.6
mkdocs-include-dir-to-nav==1.2.0
mkdocs-build-plantuml-plugin==1.7.4
mkdocs-git-revision-date-localized-plugin==1.2.0
pv==0.1.3