name: Release
on:
    workflow_dispatch:
    push:
        branches:
            - main
            - fix/workflow

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: (PREPARE) Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: (PREPARE) Checkout Repository
              uses: actions/checkout@v3

            - name: (PREPARE) Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: yarn

            - name: (PREPARE) Install Dependencies
              run: rm -rf node_modules && yarn --frozen-lockfile

            - name: (TEST) Check ESLint
              run: yarn lint:check

            - name: (TEST) Check Prettier
              run: yarn style:check

            - name: (TEST) Check Licenses
              run: yarn licenses:check

            - name: (TEST) Run Tests
              run: yarn test

            - name: (BUILD) Build Project
              run: yarn build

            - name: (BUILD) Set Version
              run: sed -i "s/__VERSION__/${GITHUB_SHA}/" build/utils/config.js

            - name: (BUILD) Setup Packaging Cache
              uses: actions/cache@v3
              with:
                  path: ~/.pkg-cache
                  key: pkg

            - name: (BUILD) Package Binaries
              run: yarn package

            - name: (SIGN) Import Signing Key
              uses: crazy-max/ghaction-import-gpg@v5
              with:
                  gpg_private_key: ${{ secrets.VINTNER_RELEASE_PRIVATE_KEY }}

            - name: (SIGN) Sign Binaries
              run: |
                  cd dist
                  for BINARY in vintner-alpine-x64 vintner-linux-arm64 vintner-linux-x64 vintner-win-x64.exe
                  do 
                    gpg --no-tty --detach-sign -a --local-user vintner-release ${BINARY}             
                  done

            - name: (RELEASE) Delete Latest Release
              run: gh release delete latest || true
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: (RELEASE) Delete Latest Tag
              uses: actions/github-script@v3
              with:
                  script: |
                      try {
                          await github.git.deleteRef({
                              owner: context.repo.owner,
                              repo: context.repo.repo,
                              ref: "tags/latest"
                          })
                      } catch (e) {
                          console.log("Did not delete tag:", e)
                      }

            - name: (RELEASE) Create Latest Tag
              uses: actions/github-script@v3
              with:
                  script: |
                      await github.git.createRef({
                          owner: context.repo.owner,
                          repo: context.repo.repo,
                          ref: "refs/tags/latest",
                          sha: context.sha
                      })

            - name: (RELEASE) Create Latest Release
              run: gh release create latest -t "Latest Release" -n "This is the latest release of this project" ./dist/*
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: (DOCS) Setup Git
              run: |
                  git config --global user.name "${GITHUB_ACTOR}"
                  git config --global user.email "${GITHUB_ACTOR}@users.noreply.${GITHUB_DOMAIN:-"github.com"}"

            - name: (DOCS) Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.x
                  cache: pip

            - name: (DOCS) Install Dependencies
              run: yarn docs:install

            - name: (DOCS) Generate Licenses Page
              run: yarn licenses:generate

            - name: (DOCS) Generate Interface Page
              run: yarn interface:generate

            - name: (DOCS) Deploy Docs
              run: yarn docs:deploy
