name: Tests
on:
    workflow_dispatch:
    pull_request:
        branches:
            - main

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-22.04
        steps:
            ###################################################
            #
            # Prepare
            #
            ###################################################

            - name: (PREPARE) Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: (PREPARE) Checkout Repository
              uses: actions/checkout@v3
              with:
                  lfs: true

            - name: (PREPARE) Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: yarn

            - name: (PREPARE) Install Node Modules
              run: rm -rf node_modules && yarn --frozen-lockfile

            - name: (PREPARE) Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.x
                  cache: pip

            - name: (PREPARE) Install xOpera
              run: pip install opera==0.6.9

            ###################################################
            #
            # Test
            #
            ###################################################

            - name: (TEST) Check ESLint
              run: yarn lint:check

            - name: (TEST) Check Prettier
              run: yarn style:check

            - name: (TEST) Check Licenses
              run: yarn licenses:check

            - name: (TEST) Check Service Templates
              run: yarn puccini:check

            - name: (TEST) Run Tests
              run: yarn test

            ###################################################
            #
            # Build
            #
            ###################################################

            - name: (DOCS) Generate Licenses Page
              run: yarn docs:generate:dependencies

            - name: (BUILD) Build Project
              run: yarn build

            - name: (BUILD) Set Version
              run: sed -i "s/__VERSION__/${GITHUB_SHA}/" build/cli/config.js

            - name: (BUILD) Setup Packaging Cache
              uses: actions/cache@v3
              with:
                  path: ~/.pkg-cache
                  key: pkg

            - name: (BUILD) Package Binaries
              run: yarn package

            ###################################################
            #
            # Docs
            #
            ###################################################

            - name: (DOCS) Install Dependencies
              run: yarn docs:install

            - name: (DOCS) Build Documentation Commands
              run: yarn docs:build:commands

            - name: (DOCS) Generate Interface Page
              run: yarn docs:generate:interface

            - name: (DOCS) Generate Variability4TOSCA Conformance Test Pages
              run: yarn docs:generate:tests:variability

            - name: (DOCS) Generate Queries4TOSCA Conformance Test Pages
              run: yarn docs:generate:tests:query

            - name: (DOCS) Generate TOSCA SofDCar Profile Page
              run: yarn docs:generate:sofdcar

            - name: (DOCS) Generate PlantUML of Service Templates
              run: yarn docs:generate:puml

            - name: (DOCS) Build Docs
              run: yarn docs:build
