name: Tests
on:
    workflow_dispatch:
    pull_request:
        branches:
            - main

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-22.04
        steps:
            - name: (PREPARE) Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: (PREPARE) Checkout Repository
              uses: actions/checkout@v3

            - name: (PREPARE) Setup Apt Packages
              uses: awalsh128/cache-apt-pkgs-action@v1.3.0
              with:
                  packages: graphviz

            - name: (PREPARE) Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: yarn

            - name: (PREPARE) Install Node Modules
              run: rm -rf node_modules && yarn --frozen-lockfile

            - name: (PREPARE) Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.x
                  cache: pip

            - name: (PREPARE) Install xOpera
              run: pip install opera

            - name: (TEST) Check ESLint
              run: yarn lint:check

            - name: (TEST) Check Prettier
              run: yarn style:check

            - name: (TEST) Check Licenses
              run: yarn licenses:check

            - name: (TEST) Check Service Templates
              run: yarn puccini:check

            - name: (TEST) Run Tests
              run: yarn test

            - name: (BUILD) Build Project
              run: yarn build

            - name: (BUILD) Set Version
              run: sed -i "s/__VERSION__/${GITHUB_SHA}/" build/cli/config.js

            - name: (BUILD) Setup Packaging Cache
              uses: actions/cache@v3
              with:
                  path: ~/.pkg-cache
                  key: pkg

            - name: (BUILD) Package Binaries
              run: yarn package

            - name: (DOCS) Install Dependencies
              run: yarn docs:install

            - name: (DOCS) Generate Licenses Page
              run: yarn docs:generate:licenses

            - name: (DOCS) Generate Interface Page
              run: yarn docs:generate:interface

            - name: (DOCS) Generate Conformance Test Pages
              run: yarn docs:generate:tests

            - name: (DOCS) Generate TOSCA SofDCar Profile Page
              run: yarn docs:generate:sofdcar

            - name: (DOCS) Generate PlantUML of Service Templates
              run: yarn docs:generate:puml

            - name: (DOCS) Start PlantUML Server
              run: yarn puml:up

            - name: (DOCS) Build Docs
              run: yarn docs:build
              env:
                  MKDOCS_PUML_SERVER: http://127.0.0.1:8080
